<template lang="pug">
  div
    stories-list-container(order="created_at" getter="backend/storiesByRecentness" :tags="[$route.params.name]")
</template>

<script>
import StoriesListContainer from '../../components/StoriesListContainer.vue'

export default {
  components: {
    StoriesListContainer,
  },

  created () {
    this.$store.dispatch('backend/clearStories')
  }
}
</script>
