<template lang="pug">
  .container-fluid
    .panel
      .panel-body.p-3
        .row
          .col-7
            .media
              img.img-circle.mr-3(:src="account.avatar_urls.size_60" v-if="account.avatar_urls.size_60" width="60" height="60")
              .media-body
                h1.h3.mb-1 {{ account.display_name }}
                h6.mb-0.text-muted @{{ account.username }}
                p.account-route-description.mt-2.mb-0 {{ account.bio }}

          .col-5
            b-nav.float-right(pills)
              b-nav-item(:to="{ name: 'account', params: { username: this.account.username } }" :exact="true")
                | Stories
                sub.ml-1 12
              b-nav-item(:to="{ name: 'accountComments', params: { username: this.account.username } }")
                | Comments
                sub.ml-1 1183

    router-view(:account="account")
</template>

<script>
import _pickBy from 'lodash/pickBy'
import StoriesList from '../components/StoriesList.vue'

export default {
  components: {
    StoriesList
  },

  data () {
    return {
      story: {},
    }
  },

  created () {
    this.fetchAccount()
  },

  methods: {
    fetchAccount () {
      this.$store.dispatch('backend/fetchAccount', { username: this.$route.params.username })
    },
  },

  computed: {
    account () {
      let acc = _pickBy(this.$store.state.backend.accounts, (account) => {
        return account.username == this.$route.params.username
      })

      return this.$store.state.backend.accounts[Object.keys(acc)[0]]
    },
  }
}
</script>

<style lang="scss">
.account-route-description {
  font-size: 0.9rem;
}
</style>
