<template lang="pug">
  .container-fluid
    .panel(v-if="comment")
      .panel-body
        ul.comments-children.p-4
          comment(
            :comment="comment"
            :closeable="false"
            :with-story="true"
          )

      .panel-loading.pt-0(v-if="isLoadingChildren")
        spinner(:status="true" :size="20" color="#000000")
</template>

<script>
import Spinner from 'vue-spinner-component/src/Spinner.vue'
import Comment from '../components/Comment.vue'

export default {
  components: {
    Comment,
    Spinner
  },

  created () {
    this.setupCable()

    this.$store.dispatch('entities/comments/fetchOne', {
      id: this.$route.params.id
    })

    this.$store.dispatch('entities/comments/fetchAllChildren', {
      payload: {
        comment: { id: this.$route.params.id }
      }
    })
  },

  methods: {
    setupCable () {
      let store = this.$store
      let currentAccount = this.currentAccount

      this.$cable.subscriptions.create('UpdatesChannel', {
        received(payload) {
          if (payload.event == 'comments.created') {
            let closed = currentAccount.id != payload.data.account_id

            store.dispatch('entities/comments/insert', {
              data: Object.assign({}, payload.data, { closed: closed })
            })
          }
        }
      })
    }
  },

  computed: {
    currentAccount () {
      return this.$store.getters['backend/currentAccount']
    },

    comment () {
      return this.$store.getters['entities/comments/query']()
        .withAll()
        .find(this.$route.params.id)
    },

    isLoadingChildren () {
      return this.$store.state.backend.isLoading.commentChildren
    }
  }
}
</script>
