<template lang="pug">
  .container-fluid.story-route
    .panel
      stories-list(:stories="stories" :show-description="true" :is-loading="isLoading")

    .panel
      .panel-nav
        h4.h5 Comments

      .panel-loading(v-if="isLoadingComments")
        spinner(:status="true" :size="20" color="#000000")

      template(v-else)
        template(v-if="writeFirstComment || rootComments.length > 0")
          .panel-body
            .story-route-root-comment-form.p-4
              comment-form(:parent-id="stories[0].id" parent-type="Story")

          hr.m-0(v-if="rootComments.length > 0")

        .panel-body
          ul.comments-children.p-4(v-if="rootComments.length > 0")
            comment(
              v-for="comment in rootComments"
              :parent-id="comment.id"
              :comment="comment"
              :key="comment.id"
            )

          .blankslate(v-if="rootComments.length == 0 && !isLoadingComments && !writeFirstComment")
            .blankslate-icon
              | &times;
            p.blankslate-title.h5 No comments yet
            p.blankslate-subtitle Do you have something to say?
            .blankslate-action
              button.btn.btn-info(@click="writeFirstComment=true") Add first comment

</template>

<script>
import _pickBy from 'lodash/pickBy'
import _filter from 'lodash/filter'

import StoriesList from '../components/StoriesList.vue'
import Comment from '../components/Comment.vue'
import CommentForm from '../components/CommentForm.vue'
import Spinner from 'vue-spinner-component/src/Spinner.vue'

export default {
  components: {
    StoriesList,
    Comment,
    CommentForm,
    Spinner
  },

  data () {
    return {
      story: {},
      comments: [],
      writeFirstComment: false
    }
  },

  created () {
    this.fetchStory()
    this.fetchComments()
    this.setupCable()
  },

  beforeDestroy () {
    this.$store.dispatch('entities/comments/deleteAll')
  },

  methods: {
    fetchStory () {
      this.$store.dispatch('backend/fetchStory', { id: this.$route.params.id })
    },

    fetchComments () {
      this.$store.dispatch('entities/comments/fetchAllForStory', {
        payload: {
          story: { id: this.$route.params.id }
        }
      })
    },

    setupCable () {
      let store = this.$store
      let currentAccount = this.currentAccount

      this.$cable.subscriptions.create('UpdatesChannel', {
        received(payload) {
          if (payload.event == 'comments.created') {
            let closed = currentAccount.id != payload.data.account_id

            store.dispatch('entities/comments/insert', {
              data: Object.assign({}, payload.data, { closed: closed })
            })
          }
        }
      })
    }
  },

  computed: {
    currentAccount () {
      return this.$store.getters['backend/currentAccount']
    },

    stories () {
      let story = this.$store.state.backend.stories[this.$route.params.id]
      return story ? [story] : []
    },

    rootComments () {
      return this.$store.getters['entities/comments/query']()
        .withAll()
        .where('parent_id', null)
        .get()
    },

    isLoadingComments () {
      return this.$store.state.backend.isLoading.storyComments
    },

    isLoading () {
      return this.$store.state.backend.isLoading.story
    }
  }
}
</script>

<style lang="scss">
.story-route-content {
}
</style>
