<template lang="pug">
.container-fluid
  .panel.popular-tags-nav
    .panel-body
      b-nav
        b-nav-item(v-for="tag in tags" :to="{ name: 'tag', params: { name: tag.name } }")
          | \#{{ tag.name }}

  router-view
</template>

<script>
export default {
  created () {
    this.fetchPopularTags()
  },

  methods: {
    fetchPopularTags () {
      this.$store.dispatch('backend/fetchTags')
    }
  },

  computed: {
    tags () {
      return this.$store.getters['backend/tagsByTaggingsCount']
    }
  }
}
</script>

<style lang="scss">
.popular-tags-nav {
  .nav {
    flex-wrap: nowrap;
    overflow: hidden
  }
}
</style>
