<template lang="pug">
  .container-fluid
    .panel
      .panel-body.p-3
        h1.h3.mb-0 \#{{ $route.params.name }}

    .panel.mb-0
      .panel-nav
        b-nav
          b-nav-item(:to="{ name: 'tag', params: { name: $route.params.name } }" :exact="true") Hot
          b-nav-item(:to="{ name: 'tagStoriesRecent', params: { name: $route.params.name } }") Recent

    router-view
</template>

<script>
export default {}
</script>
