.container
  .row.justify-content-center
    .col-12.col-md-5.col-sm-8
      h2.mb-4.text-center
        = Setting.site_title

      .card
        .card-body
          = simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|
            = f.fields_for :account do |ff|
              = ff.input :username, wrapper: :vertical_input_group, required: false do
                = ff.input_field :username, class: "form-control"
                .input-group-append
                  span.input-group-text @#{Rails.application.config.action_mailer.default_url_options[:host]}

            = f.input :email
            = f.input :password
            = f.input :password_confirmation

            .form-group.mb-0
              = f.submit "Sign up", class: 'btn btn-info btn-block'

      = render "devise/shared/links"
