<template lang="pug">
  comments-flat-container(getter="backend/commentsByRecentness")
    div(slot="head")
      .panel-nav
        b-nav
          b-nav-item(:to="{ name: 'comments' }" :exact="true") Recent
</template>

<script>
import CommentsFlatContainer from '../../components/CommentsFlatContainer.vue'

export default {
  components: {
    CommentsFlatContainer
  }
}
</script>
