<template lang="pug">
  div
    stories-list-container(order="score" getter="backend/storiesByHottness")
      div(slot="head")
        .panel-nav
          .row
            .col-6
              b-nav
                b-nav-item(:to="{ name: 'stories' }" :exact="true") Hot
                b-nav-item(:to="{ name: 'storiesRecent' }") Recent

            //- .col-6
            //-   b-nav.float-right
            //-     b-nav-item(active)
            //-       i.fa.fa-th-list
            //-     b-nav-item
            //-       i.fa.fa-list
            //-     b-nav-item
            //-       i.fa.fa-th
</template>

<script>
import StoriesListContainer from '../../components/StoriesListContainer.vue'

export default {
  components: {
    StoriesListContainer,
  },

  created () {
    this.$store.dispatch('backend/clearStories')
  }
}
</script>
