<template lang="pug">
  div
    stories-list-container(order="created_at" getter="backend/storiesByRecentness")
      div(slot="head")
        .panel-nav
          b-nav
            b-nav-item(:to="{ name: 'stories' }" :exact="true") Hot
            b-nav-item(:to="{ name: 'storiesRecent' }") Recent
</template>

<script>
import StoriesListContainer from '../../components/StoriesListContainer.vue'

export default {
  components: {
    StoriesListContainer,
  },

  created () {
    this.$store.dispatch('backend/clearStories')
  }
}
</script>
