.container
  .row.justify-content-center
    .col-12.col-md-4.col-sm-8
      h2.mb-4.text-center
        = Setting.site_title

      .card
        .card-body
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = f.input :email

            .form-group
              = f.submit "Send me reset password instructions", class: 'btn btn-info btn-block'

      = render "devise/shared/links"
