<template lang="pug">
  b-form-group(
    horizontal
    :label-cols="3"
    breakpoint="md"
    description="Optional when description is provided."
    label="URL"
    label-for="url"
  )
    .input-group
      b-form-input#url(
        v-model="mutableUrl"
        placeholder="https://..."
        :disabled="disabled"
      )

      .input-group-append
        loading-btn(@click="doScrapUrl" :loading="isScrapping" :disabled="url.length == 0")
          | Fetch title
</template>

<script>
import * as api from '../../api'
import LoadingBtn from '../LoadingBtn.vue'

export default {
  props: {
    url: {
      type: String,
      default: ''
    },

    disabled: {
      type: Boolean,
      default: false
    }
  },

  components: {
    LoadingBtn
  },

  watch: {
    url (val) {
      this.mutableUrl = val
    },

    mutableUrl (val) {
      this.$emit('change', val)
    }
  },

  data () {
    return {
      mutableUrl: this.url,
      isScrapping: false
    }
  },

  methods: {
    doScrapUrl () {
      this.isScrapping = true
      let req = api.metaScrapUrl(this.url)

      req.then((resp) => {
        this.isScrapping = false
        this.$emit('fetch', resp.data)
      })

      req.catch((error) => {
        this.isScrapping = false
      })
    }
  }
}
</script>
