<template lang="pug">
  #app
    nav-main
    router-view
    sign-in-modal
    notifications(position="bottom right")
</template>

<script>
import NavMain from 'src/components/NavMain.vue'
import SignInModal from 'src/components/SignInModal.vue'

export default {
  components: {
    NavMain, SignInModal
  }
}
</script>

<style lang="scss">
body {
  background-color: #f9f9f9 !important;
  overflow-y: scroll;
}

.container-fluid {
  max-width: 800px;
}

// Helpers

.cp {
  cursor: pointer;
}

.panel {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  margin-bottom: 1rem;

  &-loading {
    text-align: center;
    padding: 2rem;

    .sl-spinner {
      margin: 0 auto;
    }
  }

  &-body {
    padding: 0.5rem;
    color: #555;
  }

  &-nav {
    border-bottom: 1px solid #eee;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.9rem;

    h4 {
      padding: .5rem;
      margin: 0;
    }

    .nav-link {
      padding: 0.8rem 0.8rem 0.6rem;
      color: #999;
      border-bottom: 2px solid transparent;

      &.active {
        font-weight: 600;
        border-color: #555;
        color: #555;
      }
    }
  }
}

.img-circle {
  border-radius: 50%;
}

// Popular tags nav
.popular-tags-nav {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #999;

  .nav-link {
    padding: 0.5rem 0.8rem;
    color: inherit;

    &:hover {
      color: #333;
    }
  }
}

// Blankslate
.blankslate {
  border-radius: 3px;
  color: #667189;
  padding: 3.2rem 1.6rem;
  text-align: center;

  &-icon {
    margin-bottom: .2rem;
    font-size: 2.4rem;
  }

  &-action {
    margin-top: .8rem;
  }
}
</style>
