<template lang="pug">
  #app
</template>

<script>
</script>

<style lang="scss">
body {
  background-color: #f9f9f9 !important;
  overflow-y: scroll;
}

.container-fluid {
  max-width: 800px;
}

.panel {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  margin-bottom: 1rem;

  &-body {
    padding: 0.5rem;
    color: #555;
  }

  &-nav {
    border-bottom: 1px solid #eee;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.9rem;

    h4 {
      padding: .5rem;
      margin: 0;
    }

    .nav-link {
      padding: 0.8rem 0.8rem 0.6rem;
      color: #999;
      border-bottom: 2px solid transparent;

      &.active {
        font-weight: 600;
        border-color: #555;
        color: #555;
      }
    }
  }
}

.img-circle {
  border-radius: 50%;
}
</style>
