.container
  .row.justify-content-center
    .col-12.col-md-4.col-sm-8
      h2.mb-4.text-center
        = Setting.site_title

      .card
        .card-body
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            - if alert
              .alert.alert-danger = alert
            - elsif notice
              .alert.alert-info = notice

            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'

            .form-group
              = f.label :password
              = f.password_field :password, autocomplete: "off", class: 'form-control'

            .row
              - if devise_mapping.rememberable?
                .col-6.pt-2
                  .form-group.form-check.mb-0
                    = f.check_box :remember_me, class: 'form-check-input'
                    = f.label :remember_me, class: 'form-check-label'

              .col-6.text-right
                = f.submit "Log in", class: 'btn btn-info btn-block'

      = render "devise/shared/links"
