= simple_form_for(@admin_settings, url: admin_settings_path, method: :patch) do |f|
  = f.input :site_title
  = f.input :site_description, as: :text

  hr

  h5 Limits

  = f.input :stories_per_day, as: :integer
  = f.input :story_votes_per_day, as: :integer
  = f.input :comment_votes_per_day, as: :integer

  hr

  = f.button :submit, 'Save changes'
