<template lang="pug">
  b-modal(modal-class="add-story-modal" ref="modal" title="Add new story" centered ok-title="Submit story" no-fade size="lg" v-model="show")

    story-form(:form="form" ref="form")

    div(slot="modal-footer")
      b-button.mr-2(variant="outline-secondary" @click="$store.dispatch('ui/showAddStoryModal', false)") Cancel
      loading-btn(variant="primary" :disabled="!canSubmitStory" :loading="isSubmitting" @click="handleSubmit")
        | + Submit story

</template>

<script>
import _map from 'lodash/map'
import * as api from '../api'
import LoadingBtn from './LoadingBtn.vue'
import StoryForm from './StoryForm.vue'

const DEFAULT_FORM = {
  url: '',
  title: '',
  tag_names: [],
  description: ''
}

export default {
  components: {
    LoadingBtn,
    StoryForm
  },

  data () {
    return {
      form: Object.assign({}, DEFAULT_FORM),
      isSubmitting: false
    }
  },

  methods: {
    handleSubmit () {
      this.isSubmitting = true

      let req = this.axios.post('/api/v1/stories', {
        story: this.form
      })

      req.then((resp) => {
        this.form = Object.assign({}, DEFAULT_FORM)
        this.$refs.form.clearTags()
        this.$router.push({ name: 'story', params: { id: resp.data.id } })
        this.$store.dispatch('ui/showAddStoryModal', false)
        this.isSubmitting = false
        this.$notify({
          text: 'Story has been successfully created.',
          type: 'success'
        })
      })

      req.catch((resp) => {
        this.isSubmitting = false
      })
    }
  },

  computed: {
    canSubmitStory () {
      return (this.form.url.length > 0 || this.form.description.length > 0) &&
        this.form.title.length > 0 &&
        this.form.tag_names.length > 0
    },

    show: {
      get () {
        return this.$store.state.ui.showAddStoryModal
      },

      set (val) {
        if (val == true) { return false }
        this.$store.dispatch('ui/showAddStoryModal', val)
      }
    }
  }
}
</script>

<style lang="scss">
.add-story-modal {
  .modal-dialog {
    max-width: 990px;
  }
}
</style>
