<template lang="pug">
form.comment-form
  .form-group
    b-form-textarea(ref="input" :placeholder="textareaPlaceholder" :disabled="formDisabled" v-model="newComment.body" :rows="3")

  .form-group.mb-0
    loading-btn(:loading="isAdding" variant="info" size="sm" @click="createComment" :disabled="formDisabled")
      | Add comment
</template>

<script>
import LoadingBtn from './LoadingBtn.vue'

const DEFAULT_COMMENT = {
  body: ''
}

export default {
  props: {
    parentId: {
      type: Number
    },

    parentType: {
      type: String,
      default: 'Comment'
    }
  },

  components: {
    LoadingBtn
  },

  data () {
    return {
      newComment: Object.assign({}, DEFAULT_COMMENT),
      isAdding: false,
    }
  },

  methods: {
    createComment () {
      this.isAdding = true

      let req = this.$store.dispatch('entities/comments/createOnBackend', {
        parentId: this.parentId,
        parentType: this.parentType,
        body: this.newComment.body
      })

      req.then((resp) => {
        this.isAdding = false
        this.newComment = Object.assign({}, DEFAULT_COMMENT)

        this.$notify({
          text: 'Comment has been created.',
          type: 'success'
        })

        this.$emit('saved')
      })

      req.catch((error) => {
        this.isAdding = false
      })
    },

    doFocus () {
      this.$refs.input.$el.focus()
    }
  },

  computed: {
    currentAccount () {
      return this.$store.getters['backend/currentAccount']
    },

    textareaPlaceholder () {
      return this.currentAccount ? 'Enter your comment...' : 'You need to sign in first to write comments.'
    },

    formDisabled () {
      return this.currentAccount ? false : true
    }
  }
}
</script>
