<template lang="pug">
  div
    .panel
      slot(name="head")

      .panel-loading(v-if="isLoading")
        spinner(:status="true" :size="20" color="#000000")

      .panel-body(v-if="!isLoading")
        transition-group.comments-children.p-4(name="flip-list" tag="ul")
          comment(
            v-for="comment in comments"
            :parent-id="comment.id"
            :comment="comment"
            :key="comment.id"
            :with-children="false"
            :closeable="false"
            :with-story="true"
            :reply-disabled="true"
            replies-link-mode="permalink"
          )

    .panel.comments-list-container-pagination(v-if="!isLoading")
      .panel-body.text-center
        ul.list-inline.mb-0
          li.list-inline-item
            router-link(:to="prevPageRoute" v-if="hasPrevPage") < prev
          li.list-inline-item
            | {{ $store.state.backend.pagination.comments.page }}/{{ $store.state.backend.pagination.comments.totalPages }}
          li.list-inline-item
            router-link(:to="nextPageRoute" v-if="hasNextPage") next >
</template>

<script>
import Vue from 'vue'
import Spinner from 'vue-spinner-component/src/Spinner.vue'
import Comment from './Comment.vue'

export default {
  props: {
    orderField: {
      type: String,
      default: 'created_at'
    },

    orderDirection: {
      type: String,
      default: 'desc'
    },

    perPage: {
      type: Number,
      default: 25
    },

    getter: {
      type: String,
      default: 'backend/commentsByRecentness'
    },

    accountId: {
      type: Number,
      default: null
    },

    routeName: {
      type: String,
      default: null
    }
  },

  components: {
    Comment,
    Spinner
  },

  watch: {
    '$route' () { Vue.nextTick(() => this.fetch()) }
  },

  mounted () {
    this.fetch()
  },

  methods: {
    fetch () {
      this.$store.dispatch('entities/comments/fetchAll', {
        payload: { params: this.params }
      })
    }
  },

  computed: {
    page () {
      return this.$route.query.p ? parseInt(this.$route.query.p) : 1
    },

    params () {
      let data = {}

      // Pagination
      data.page = this.page
      data.per_page = this.perPage

      // Filters
      if (this.orderField) { data['f[order]'] = `${this.orderField}_${this.orderDirection}` }
      if (this.accountId) { data['f[account_id]'] = this.accountId }

      return data
    },

    hasPrevPage () {
      return this.$store.state.backend.pagination.comments.prevPage != null
    },

    hasNextPage () {
      return this.$store.state.backend.pagination.comments.nextPage != null
    },

    prevPageRoute () {
      let name = this.routeName || this.$route.name
      return { name: name, query: { p: this.$store.state.backend.pagination.comments.prevPage } }
    },

    nextPageRoute () {
      let name = this.routeName || this.$route.name
      return { name: name, query: { p: this.$store.state.backend.pagination.comments.nextPage } }
    },

    comments () {
      return this.$store.getters['entities/comments/query']()
        .withAll()
        .orderBy(this.orderField, this.orderDirection)
        .all()
    },

    isLoading () {
      return this.$store.state.backend.isLoading.comments
    }
  }
}
</script>

<style lang="scss">
.comments-list-container {
  &-pagination {
    color: #999;
    position: sticky;
    bottom: 0;

    a {
      color: #999;
    }
  }
}
</style>
