<template lang="pug">
li.comment(:class="rootClasses")
  //- Comment heading
  ul.list-inline.comment-meta(@click="toggleCommentClosed")
    li.list-inline-item.comment-avatar
      img(:src="comment.account.avatar_urls.size_60" width="20" height="20")

    li.list-inline-item.comment-author
      router-link(:to="{ name: 'account', params: { username: comment.account.username } }")
        | @{{ comment.account.username }}

    li.list-inline-item
      router-link(:to="{ name: 'comment', params: { id: comment.id } }")
        | {{ comment.created_at | moment("from") }}

    li.list-inline-item(v-if="parentLink")
      a(href="#") parent

    template(v-if="withStory")
      li.list-inline-item
        | •
      li.list-inline-item
        | on: <router-link :to="{ name: 'story', params: { id: comment.story_id } }">{{ comment.story.title }}</router-link>

  template(v-if="!comment.closed")

    //- Comment body
    .comment-body
      edit-comment-form(v-if="isEditing" ref="editForm" @cancel="disableEdit" @save="disableEdit")
      div(v-html="comment.body_html" v-else)

    //- Bottom meta
    ul.list-inline.comment-actions(v-if="!isEditing")
      li.list-inline-item
        a.comment-vote-btn(href="#" @click.prevent="doToggleVote")
          | {{ comment.votes_count }} votes

      li.list-inline-item
        | /

      li.list-inline-item
        | {{ comment.children_count }} replies

      li.list-inline-item
        | •

      li.list-inline-item
        router-link(:to="{ name: 'comment', params: { id: comment.id } }")
          | link

      li.list-inline-item(v-if="parentLinkVisible")
        | •
      li.list-inline-item(v-if="parentLinkVisible")
        router-link(:to="{ name: 'comment', params: { id: comment.parent_id } }")
          | parent

      li.list-inline-item(v-if="!replyDisabled")
        | •
      li.list-inline-item.comment-actions-reply(v-if="!replyDisabled")
        a(@click="toggleCommentReplyOpen") reply

      li.list-inline-item(v-if="canEdit")
        | •
      li.list-inline-item(v-if="canEdit")
        a(@click="enableEdit") edit

    //- Comment form
    .comment-reply(v-if="reply")
      comment-form(
        ref="commentForm"
        :parent-id="comment.id"
        parent-type="Comment"
        @saved="reply=false"
      )

    //- Comment children
    ul.comments-children(v-if="withChildren")
      comment(
        v-for="comment in children"
        :comment="comment"
        :key="comment.id"
        :depth="depth+1"
      )
</template>

<script>
import _pickBy from 'lodash/pickBy'
import Vue from 'vue'

import Comment from './Comment.vue'
import CommentForm from './CommentForm.vue'
import EditCommentForm from './EditCommentForm.vue'

const DEFAULT_COMMENT = {
  body: ''
}

const DEFAULT_PAGINATION = {
  nextPage: '', prevPage: null
}

export default {
  name: 'Comment',

  props: {
    comment: {
      type: Object,
      default: () => {}
    },
    parentId: {
      type: Number,
      default: null
    },
    withChildren: {
      type: Boolean,
      default: true
    },
    depth: {
      type: Number,
      default: 0
    },
    closeable: {
      type: Boolean,
      default: true
    },
    withStory: {
      type: Boolean,
      default: false
    },
    parentLink: {
      type: Boolean,
      default: false
    },
    replyDisabled: {
      type: Boolean,
      default: false
    }
  },

  components: {
    Comment,
    CommentForm,
    EditCommentForm
  },

  data () {
    return {
      reply: false,
      repliesOpen: false,
      isEditing: false,
      pagination: Object.assign({}, DEFAULT_PAGINATION)
    }
  },

  methods: {
    toggleCommentClosed () {
      if (!this.closeable) { return false }

      this.$store.dispatch('entities/comments/setClosed', { comment: this.comment, closed: !this.comment.closed })
    },

    toggleCommentReplyOpen () {
      this.reply = !this.reply

      if (this.reply) {
        Vue.nextTick(() => this.$refs.commentForm.doFocus())
      }
    },

    enableEdit () {
      this.isEditing = true
      Vue.nextTick(() => {
        this.$refs.editForm.setForm(Object.assign({}, this.comment))
      })
    },

    disableEdit () {
      this.isEditing = false
    },

    doToggleVote () {
      if (this.comment.is_voted) {
        this.$store.dispatch('entities/comments/unvote', { comment: this.comment })
      } else {
        this.$store.dispatch('entities/comments/upvote', { comment: this.comment })
      }
    }
  },

  computed: {
    currentAccount () {
      return this.$store.getters['backend/currentAccount']
    },

    rootClasses () {
      let classes = []

      if (this.comment.is_voted) { classes.push('comment--voted') }
      if (this.hasChildren) { classes.push('comment--has-children') }
      if (this.comment.closed) { classes.push('comment--closed') }
      classes.push(`depth-${this.depth}`)

      return classes
    },

    children () {
      return this.$store.getters['entities/comments/query']()
        .withAll()
        .where('parent_id', this.comment.id)
        .get()
    },

    hasChildren () {
      return Object.keys(this.children).length
    },

    parentLinkVisible () {
      return this.comment.parent_id
    },

    canEdit () {
      return this.currentAccount &&
        (this.currentAccount.is_admin || this.comment.account_id == this.currentAccount.id)
    }
  }
}
</script>

<style lang="scss">
@import '../scss/_animations';

.comments-children {
  list-style-type: none;

  &:first-child {
    padding: 0;
    margin: 0;

    > li:last-child {
      margin: 0;
    }
  }

  .comments-children {
    border-left: 3px solid #eceef1;
    padding-left: 1.3rem;
  }
}

.comment {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3rem;
  margin-bottom: 0.7rem;

  &-meta {
    color: #999;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    margin-left: -.3rem;
    padding: .3rem;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .list-inline-item {
      display: inline;
    }

    a {
      color: inherit;
    }
  }

  &:hover {
    > .comment-meta {
      background: #f9f9f9;
    }
  }

  &-avatar {
    img { border-radius: 50%; }
  }

  &-author {
    a {
      text-decoration: underline;
      color: #333;
    }
  }

  &-body {
    font-size: 0.9rem;
    margin-bottom: .5rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &-vote-btn {
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 7px solid #999;
      display: inline-block;
      margin-right: 5px;
      top: -1px;
      position: relative;
    }

    &:hover:before {
      animation: comment-vote-arrow-hover .5s infinite;
    }
  }

  &-actions {
    font-size: .85rem;
    margin-bottom: 1rem;
    color: #999;

    a {
      cursor: pointer;
      color: inherit;
    }

    &-reply {
      color: #2d72d9;
    }
  }

  &-reply {
    margin-bottom: 1rem;
  }

  &--closed {
    padding-bottom: 0.5rem;

    > .comment-meta {
      background: #f5f5f5;
      opacity: 0.5;
    }
  }

  &--voted {
    & > .comment-actions a.comment-vote-btn {
      color: #c75000;
      font-weight: 600;

      &:hover:before {
        animation: none;
      }

      &:before {
        border-bottom: 7px solid #c75000;
      }
    }
  }
}

.comment-body {
  ul {
    margin-bottom: 1rem;
  }
}
</style>
