<template lang="pug">
form.comment-form
  .form-group.mb-2
    b-form-textarea(ref="input" placeholder="Enter your comment..." v-model="form.body" :rows="3")

  .form-group.mb-3
    loading-btn(:loading="isSaving" variant="info" size="sm" @click="saveComment")
      | Save comment

    a.btn.btn-outline-secondary.btn-sm.ml-1(@click="$emit('cancel')") Cancel
</template>

<script>
import LoadingBtn from './LoadingBtn.vue'

const DEFAULT_COMMENT = {
  body: ''
}

export default {
  components: {
    LoadingBtn
  },

  data () {
    return {
      isSaving: false,
      form: Object.assign({}, DEFAULT_COMMENT)
    }
  },

  methods: {
    setForm (form) {
      this.form = form
    },

    saveComment () {
      this.isSaving = true

      let req = this.$store.dispatch('entities/comments/updateOnBackend', {
        id: this.form.id,
        body: this.form.body
      })

      req.then((resp) => {
        this.isSaving = false
        this.form = Object.assign({}, DEFAULT_COMMENT)

        this.$notify({
          text: 'Comment has been saved.',
          type: 'success'
        })

        this.$emit('save')
      })

      req.catch((error) => {
        this.isSaving = false
      })
    },

    doFocus () {
      this.$refs.input.$el.focus()
    }
  },

  computed: {
    currentAccount () {
      return this.$store.getters['backend/currentAccount']
    }
  }
}
</script>
