<template lang="pug">
  b-modal(modal-class="edit-story-modal" ref="modal" title="Edit story" centered no-fade size="lg")

    story-form(:form="form" ref="form" :url-input-disabled="true")

    div(slot="modal-footer")
      b-button.mr-2(variant="outline-secondary" @click="$refs.modal.hide()") Cancel
      loading-btn(variant="primary" :disabled="!canSubmitStory" :loading="isSubmitting" @click="handleSubmit")
        | Save changes

</template>

<script>
import _map from 'lodash/map'
import * as api from '../api'
import Vue from 'vue'
import LoadingBtn from './LoadingBtn.vue'
import StoryForm from './StoryForm.vue'

const DEFAULT_FORM = {
  url: '',
  title: '',
  tag_names: [],
  description: ''
}

export default {
  components: {
    LoadingBtn,
    StoryForm
  },

  props: {
    story: {
      type: Object,
      default: () => {}
    }
  },

  data () {
    return {
      form: DEFAULT_FORM,
      isSubmitting: false
    }
  },

  methods: {
    // @todo: Move that to vuex
    handleSubmit () {
      this.isSubmitting = true

      let req = this.axios.put(`/api/v1/stories/${this.form.id}`, {
        story: this.form
      })

      req.then((resp) => {
        this.$refs.modal.hide()
        this.isSubmitting = false
        this.$notify({
          text: 'Story has been successfully updated.',
          type: 'success'
        })
      })

      req.catch((resp) => {
        this.isSubmitting = false
      })
    },

    show () {
      this.form = Object.assign({}, this.story)

      Vue.nextTick(() => {
        this.$refs.form.initTags()
        this.$refs.modal.show()
      })
    }
  },

  computed: {
    canSubmitStory () {
      return (this.form.url.length > 0 || this.form.description.length > 0) &&
        this.form.title.length > 0 &&
        this.form.tag_names.length > 0
    }
  }
}
</script>

<style lang="scss">
.edit-story-modal {
  .modal-dialog {
    max-width: 990px;
  }
}
</style>
