<template lang="pug">
  b-button.loading-btn(:class="{'loading-btn--loading': loading}" @click="$emit('click')" :variant="variant" :size="size" :disabled="disabled")
    .spinner
      spinner(:status="true" :size="15" :color="spinnerColor")
    .content
      slot
</template>

<script>
import Spinner from 'vue-spinner-component/src/Spinner.vue'

export default {
  components: {
    Spinner
  },

  props: {
    loading: {
      type: Boolean,
      default: false
    },

    variant: {
      type: String,
      default: 'primary'
    },

    size: {
      type: String,
      default: 'md'
    },

    disabled: {
      type: Boolean,
      default: false
    },

    spinnerColor: {
      type: String,
      default: '#ffffff'
    }
  }
}
</script>

<style lang="scss">
.loading-btn {
  position: relative;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &--loading {
    .spinner {
      opacity: 1;
    }

    .content {
      opacity: 0;
    }
  }
}
</style>
