<template lang="pug">
  div
    b-navbar(toggleable="md" type="dark" variant="info")
      .container-fluid
        b-navbar-toggle(target="nav_collapse")
        b-navbar-brand(:to="{ name: 'stories' }")
          | {{ $store.state.backend.meta.site_settings.site_title }}

        b-collapse(is-nav id="nav_collapse")
          b-navbar-nav
            //- @todo: create a separate component for such links
            b-nav-item(:to="{ name: 'stories' }" exact-active-class="route-exact-active" active-class="route-active" :class="isActiveNavItem('stories')") Stories
            b-nav-item(:to="{ name: 'comments' }" exact-active-class="route-exact-active" active-class="route-active" :class="isActiveNavItem('comments')") Comments

          b-navbar-nav(class="ml-auto")
            // b-nav-form
            //   b-form-input(size="sm" class="mr-sm-2" type="text" placeholder="Search...")

            b-nav-item(href="#" @click.prevent="$store.dispatch('ui/showAddStoryModal', true)")
              | + Add story

            template(v-if="currentAccount")
              b-navbar-brand.ml-3.nav-main-user
                b-dropdown.nav-main-user-dropdown(right)
                  b-dropdown-item(:to="{ name: 'account', params: { username: currentAccount.username } }") Your profile
                  b-dropdown-item(href="/settings/profile") Settings
                  b-dropdown-item(href="/admin/settings/edit" v-if="currentAccount.is_admin") Admin
                  b-dropdown-divider
                  b-dropdown-item(data-method="delete" href="/auth/sign_out") Sign-out

                  div(slot="button-content")
                    img(:src="avatarUrl" width="30" height="30")

            template(v-else)
              b-nav-item(href="/auth/sign_in") Join us

    add-story-modal
</template>

<script>
import AddStoryModal from 'src/components/AddStoryModal.vue'

export default {
  components: {
    AddStoryModal
  },

  methods: {
    isActiveNavItem (name) {
      return this.$route.meta.navMainLink == name ? 'active' : null
    }
  },

  computed: {
    currentAccount () {
      return this.$store.getters['backend/currentAccount']
    },

    avatarUrl () {
      return this.currentAccount.avatar_urls.size_60
    }
  }
}
</script>

<style lang="scss">
.nav-main {
  &-user {
    img {
      border-radius: 50%;
    }
  }

  &-user-dropdown {
    button {
      border: none;
      background: none;
      padding: 0;

      &::after {
        display: none;
      }
    }
  }
}
</style>
