<template lang="pug">
  b-modal(
    v-model="show"
    modal-class="sign-in-modal"
    ref="modal" title="Oups!"
    ok-title="Ok, sign me in"
    cancel-title="Nope"
    no-fade
    centered
    cancel-variant="outline-secondary"
  )
    .text-center.p-4
      p.mb-0 You need to be signed in to do this.

    div(slot="modal-footer")
      button.btn.btn-outline-secondary.mr-1(@click="show=false") Nope
      a.btn.btn-primary(href="/auth/sign_in") Ok, sign me in
</template>

<script>
export default {
  computed: {
    show: {
      get () {
        return this.$store.state.ui.showSignInModal
      },

      set (val) {
        if (val == true) { return false }
        this.$store.dispatch('ui/showSignInModal', val)
      }
    }
  }
}
</script>
