<template lang="pug">
div
  .panel-loading(v-if="isLoading")
    spinner(:status="true" :size="20" color="#000000")

  transition-group.list-unstyled.stories-list(name="flip-list" tag="ul" v-else)
    stories-list-item(v-for="story in stories" :story="story" :key="story.id" :show-description="showDescription")
</template>

<script>
import Spinner from 'vue-spinner-component/src/Spinner.vue'
import StoriesListItem from './StoriesListItem.vue'

export default {
  props: {
    stories: {
      type: Array,
      default: () => []
    },

    showDescription: {
      type: Boolean,
      default: false
    },

    isLoading: {
      type: Boolean,
      default: false
    }
  },

  components: {
    StoriesListItem,
    Spinner
  }
}
</script>

<style lang="scss">
.flip-list-item {
  opacity: 1;
  transition: all 0.5s ease;
}

.flip-list-move {
  transition: all 0.5s ease;
  opacity: 0.5;
}
</style>
