<template lang="pug">
li.stories-list-item(:class="{'stories-list-item--voted': story.is_voted}")
  .row
    .col-1.stories-list-item-score
      a.stories-list-item-score-button(@click.prevent="doToggleVote")
        span.stories-list-item-score-votes-count {{ story.votes_count }}

    .col-2.stories-list-item-thumb
      router-link(:to="{ name: 'story', params: { id: story.id } }")
        img(:src="story.thumb_urls.size_200" width="100%" v-if="story.thumb_urls.size_200")
        div.stories-list-item-thumb-empty(v-else :class="thumbEmptyClasses")

    .col
      h3.stories-list-item-title
        a(:href="story.url" :target="titleLinkTarget" v-if="story.url")
          | {{ story.title }}
        router-link(:to="storyRoute" v-else)
          | {{ story.title }}

      ul.stories-list-item-meta.list-inline
        li.list-inline-item(v-if="story.account")
          router-link(:to="{ name: 'account', params: { username: story.account.username } }")
            | @{{ story.account.username }}
        li.list-inline-item
          | {{ story.domain }}
        li.list-inline-item(v-if="showHottnessScore")
          a(href="#") {{ hottnessScore }}
        li.list-inline-item(v-for="tag in primaryTags")
          router-link(:to="{ name: 'tag', params: { name: tag.name } }")
            | \#{{ tag.name }}

        li.list-inline-item(v-if="moreTags.length > 0")
          a(:id="moreTagsId") {{ moreTagsLabel }}
          b-popover(:target="moreTagsId" triggers="click blur" placement="bottom")
            ul.list-inline.mb-0
              li.list-inline-item(v-for="tag in moreTags")
                router-link(:to="{ name: 'tag', params: { name: tag.name } }")
                  | \#{{ tag.name }}


      p.stories-list-item-excerpt(v-if="storyExcerpt" v-html="storyExcerpt")

      ul.stories-list-item-meta.list-inline
        li.list-inline-item
          router-link(:to="{ name: 'story', params: { id: story.id } }")
            | {{ story.comments_count }} comments

        li.list-inline-item
          router-link(:to="{ name: 'story', params: { id: story.id } }")
            | Posted {{ story.created_at | moment("from") }}

        template(v-if="currentAccount")
          li.list-inline-item •
          li.list-inline-item
            b-dropdown(text="More" size="sm" variant="link" right)
              b-dropdown-item(@click.prevent="doShowEditModal" v-if="canEditStory")
                | Edit
              b-dropdown-item(@click.prevent="doScrapAgain" v-if="currentAccount.is_admin")
                | Scrap again

  template(v-if="story && story.description_html && showDescription")
    hr.mb-0
    .stories-list-item-description(v-html="story.description_html")

  edit-story-modal(ref="editModal" :story="story")
</template>

<script>
import _sortBy from 'lodash/sortBy'
import _take from 'lodash/take'
import * as api from '../api'
import EditStoryModal from './EditStoryModal.vue'

export default {
  props: {
    story: {
      type: Object,
      default: () => {}
    },

    showHottnessScore: {
      type: Boolean,
      default: false
    },

    showDescription: {
      type: Boolean,
      default: false
    }
  },

  components: {
    EditStoryModal
  },

  methods: {
    // @todo: move that to backend/toggleStoryVote action
    doToggleVote () {
      if (this.story.is_voted) {
        this.$store.dispatch('backend/unvoteStory', { story_id: this.story.id })
      } else {
        this.$store.dispatch('backend/upvoteStory', { story_id: this.story.id })
      }
    },

    doScrapAgain () {
      let req = api.scrapStory({ id: this.story.id })

      req.then((resp) => {
        this.$notify({
          text: 'Story has been queued for scrapping.',
          type: 'success'
        })
      })
    },

    doShowEditModal () {
      this.$refs.editModal.show()
    }
  },

  computed: {
    currentAccount () {
      return this.$store.getters['backend/currentAccount']
    },

    tagsSortedByPopularity () {
      return _sortBy(this.story.tags, (t) => t.taggings_count)
    },

    primaryTags () {
      return _take(this.tagsSortedByPopularity, 2)
    },

    moreTags () {
      let tags = this.tagsSortedByPopularity
      return tags.splice(2 - tags.length)
    },

    moreTagsLabel () {
      let count = this.moreTags.length
      return `+ ${count} more`
    },

    moreTagsId () {
      return `more-tags-${this.story.id}`
    },

    hottnessScore () {
      let gravity = 1.8
      var hourAge = (Date.now() - Date.parse(this.story.created_at)) / (1000 * 3600);

      return (this.story.votes_count - 1) / Math.pow(hourAge + 2, gravity)
    },

    titleLinkTarget () {
      return this.story.url ? '_blank' : ''
    },

    storyRoute () {
      return this.story.url ? this.story.url : { name: 'story', params: { id: this.story.id } }
    },

    storyExcerpt () {
      if (this.story.url_meta && this.story.url_meta.description) {
        return this.story.url_meta.description
      } else if (this.story.description_excerpt) {
        return this.story.description_excerpt
      }
    },

    thumbEmptyClasses () {
      let classes = []

      if (!this.story.url) { classes.push('stories-list-item-thumb-empty--text') }

      return classes
    },

    canEditStory () {
      return this.currentAccount.is_admin || this.currentAccount.id == this.story.account_id
    }
  }
}
</script>

<style lang="scss">
.stories-list-item {
  border-bottom: 1px solid #eee;
  padding: 1rem;

  &-score {
    text-align: center;
    padding-right: 0 !important;
    padding-top: .7rem;

    &-button {
      position: relative;
      cursor: pointer;
      padding: .6rem;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 49%;
        transform: translatex(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
      }
    }

    &-votes-count {
      font-weight: 700;
    }
  }

  &-thumb {
    padding-right: .5rem !important;

    img {
      border-radius: 3px;
    }
  }

  &-thumb-empty {
    background: #eee;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-radius: 3px;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-size: cover;
      width: 25%;
      height: 25%;
      opacity: 0.3;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image" color="#3a4049"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>');
    }

    &--text {
      &:before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-feather" color="#3a4049"><path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path><line x1="16" y1="8" x2="2" y2="22"></line><line x1="17" y1="15" x2="9" y2="15"></line></svg>');
      }
    }
  }

  &-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.2rem;

    a {
      color: inherit;
    }

    a:visited {
      color: #9aa0a9;
    }
  }

  &-meta {
    font-size: .85rem;
    margin-bottom: .5rem;
    color: #bbb;

    a {
      color: inherit;
    }

    &:last-child {
      margin: 0;
    }

    .btn {
      padding: 0;
      margin: 0;
      border: 0;
      margin-top: -2px;
      color: #bbb;
    }
  }

  &-excerpt {
    margin-bottom: .5rem;
    font-size: 0.9rem;
  }

  &-description {
    padding: 2rem;

    & *:last-child {
      margin: 0;
    }
  }

  &--voted {
    .stories-list-item-score-votes-count {
      color: #c75000;
    }

    .stories-list-item-score-button:before {
      border-bottom: 5px solid #c75000;
    }
  }
}
</style>
