<template lang="pug">
  div
    .panel
      slot(name="head")

      stories-list(:stories="stories" :is-loading="isLoading")

    .panel.stories-list-container-pagination(v-if="!isLoading")
      .panel-body.text-center
        ul.list-inline.mb-0
          li.list-inline-item
            router-link(:to="prevPageRoute" v-if="hasPrevPage") < prev
          li.list-inline-item
            | {{ $store.state.backend.pagination.stories.page }}/{{ $store.state.backend.pagination.stories.totalPages }}
          li.list-inline-item
            router-link(:to="nextPageRoute" v-if="hasNextPage") next >
</template>

<script>
import Vue from 'vue'
import StoriesList from './StoriesList.vue'

export default {
  props: {
    order: {
      type: String,
      default: 'created_at'
    },

    perPage: {
      type: Number,
      default: 25
    },

    getter: {
      type: String,
      default: 'backend/storiesByRecentness'
    },

    tags: {
      type: Array,
      default: () => []
    },

    accountId: {
      type: Number,
      default: null
    },
  },

  components: {
    StoriesList
  },

  watch: {
    '$route' () { Vue.nextTick(() => this.fetch()) }
  },

  mounted () {
    this.fetch()
  },

  methods: {
    fetch () {
      this.$store.dispatch('backend/clearStories')
      this.$store.dispatch('backend/fetchStories', {
        payload: { params: this.params }
      })
    }
  },

  computed: {
    page () {
      return this.$route.query.p ? parseInt(this.$route.query.p) : 1
    },

    params () {
      let data = {}

      // Pagination
      data.page = this.page
      data.per_page = this.perPage

      // Filters
      if (this.order) { data['f[order]'] = this.order }
      if (this.tags.length > 0) { data['f[tags]'] = this.tags }
      if (this.accountId) { data['f[account_id]'] = this.accountId }

      return data
    },

    hasPrevPage () {
      return this.$store.state.backend.pagination.stories.prevPage != null
    },

    hasNextPage () {
      return this.$store.state.backend.pagination.stories.nextPage != null
    },

    prevPageRoute () {
      return { name: this.routeName, query: { p: this.$store.state.backend.pagination.stories.prevPage } }
    },

    nextPageRoute () {
      return { name: this.routeName, query: { p: this.$store.state.backend.pagination.stories.nextPage } }
    },

    stories () {
      return this.$store.getters[this.getter].slice(0, this.perPage)
    },

    isLoading () {
      return this.$store.state.backend.isLoading.stories
    }
  }
}
</script>

<style lang="scss">
.stories-list-container {
  &-pagination {
    color: #999;
    position: sticky;
    bottom: 0;

    a {
      color: #999;
    }
  }
}
</style>
