<template lang="pug">
  comments-flat-container(
    getter="backend/commentsByHottness"
    :closeable="false"
    :with-story="true"
    :account-id="account.id"
  )
</template>

<script>
import CommentsFlatContainer from '../../components/CommentsFlatContainer.vue'

export default {
  components: {
    CommentsFlatContainer
  },

  props: {
    account: {
      type: Object,
      default: () => {}
    }
  },
}
</script>
