<template lang="pug">
  div
    stories-list-container(order="created_at" getter="backend/storiesByRecentness" :account-id="account.id")
</template>

<script>
import StoriesListContainer from '../../components/StoriesListContainer.vue'

export default {
  components: {
    StoriesListContainer,
  },

  props: {
    account: {
      type: Object,
      default: () => {}
    }
  },
}
</script>
