doctype html
html
  head
    = javascript_pack_tag 'settings'
    = stylesheet_pack_tag 'settings'

  body
    #settings-app
      nav.navbar.navbar-expand-lg.navbar-dark.bg-info
        .container-fluid
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href=root_path) &larr; Back to website

          a.navbar-brand(href="#")
            = Setting.site_title

      .container-fluid.mt-4
        .row
          .col-4
            .card.mb-4
              a.card-header(href=settings_profile_path)
                | Settings

              .list-group.list-group-flush
                = active_link_to settings_profile_path, class: 'list-group-item list-group-item-action'
                  | Edit profile

            .card
              a.card-header(href=edit_admin_settings_path)
                | Administration

              .list-group.list-group-flush
                = active_link_to edit_admin_settings_path, class: 'list-group-item list-group-item-action'
                  | Site settings

          .col-8
            = render 'shared/flash'
            = yield
